html{
    font-size: 90%;
    font-family: sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*index.html*/

.splashScreen{
    display: flex;
    flex-direction: column;
}

.gameName{
    text-align: center;
    margin-top: 2%;
}

.playersNames{
    display: flex;
}

.playerName{
    flex-direction: column;
    margin: auto;
}

.playerName,
#rounds,
.timer_checkbox,
#play_button,
#nextRound_button{
    text-align: center;
}

#play_button,
#nextRound_button,
#playAgain_button,
#return_button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
}

#play_button{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.gameName,
.playersNames,
#rounds,
.timer_checkbox,
#play_button,
#nextRound_button{
    margin-bottom: 4.5%;
}

/*mainPage.html*/
.mainImg{
    max-width: 100%;

}

.imageBox{
    width: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    /*height: 100%;*/
}

.areaToClick{
    /*width: 60px;
    height: 90px;
    border: 1px solid yellow;*/
    position: absolute;
}

.mainContent{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.question{
  background-color: lightsteelblue;
  margin: 0 10px 0 10px;
  text-align: center;
    padding:5px 0 5px 0;
    font-size: 24px;
}

.players{
  display: flex;
    flex: 1 1 auto;
}

#player1, #player2{
    width: 49%;
    display: flex;
    flex-direction: column;
    padding:0 0.5% 0 0.5%;
}

#player1{
    background-color: hotpink;
}

#player2{
    background-color: cyan;
}

#timerBar{
    position: relative;
    left:0;
    height:15px;
    background: gray;
    width:100%;
}

#timeLeft{
    position: absolute;
    background: linear-gradient(to top, rebeccapurple, lightpink);
    height:100%;
    width: 100%;


}
/* descriptionPage.html */
#descriptionPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#descriptionPageImgContainer{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-bottom: 10px;
    border-bottom: 1px solid lightslategrey;
}
#descriptionPageImg{
    height: 50vh;
}

#infoLeft, #infoRight{
    font-style: italic;
    display: inline-block;
}
.description{
    margin: 0 2% 10px 2%;
    padding-top: 10px;
    height: 32vh;
    overflow: auto;
}
/* finalPage.html */
.finalPage{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
}

.button1,
.button2{
    flex-direction: column;
    margin: auto;
}


