@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --background-color: #FEF9EF;
    --text-color: #232323;
    --detail-color: #D77133;/*#E39D72;*//*#FE6D73;*//*#e0a870;*/
    --fine-detail-color: #FE6D73;
    --win-color: #17C3B2;
}

html{
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
    color:var(--text-color);
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
    background-color: var(--background-color);
}

/*index.html*/
#name1, #name2, #selection, #timer{
    font-size: 1rem;
    margin: 0 5px 0 5px;
}

h1{
    color: var(--text-color);
    font-family: Dosis, sans-serif;
    font-weight: 900;
    font-size: 4rem;
}
.splashScreen{
    display: flex;
    flex-direction: column;
}

.gameName{
    text-align: center;
    margin-top: 2%;
}

.playersNames{
    display: flex;
}

.playerName{
    flex-direction: column;
    margin: auto;
}

.playerName,
#rounds,
.timer_checkbox,
#play_button,
#nextRound_button{
    text-align: center;
}

#play_button,
#nextRound_button,
#playAgain_button,
#return_button{
    background-color: var(--detail-color);/* #4CAF50; Green */
    color: var(--background-color);
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    margin: auto;
    font-family: Dosis, sans-serif;
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--text-color);
    border: 2px solid var(--fine-detail-color);
    border-radius: 4px;
}
#nextRound_button{
    font-size: 1rem;
}
#play_button{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.gameName,
.playersNames,
#rounds,
.timer_checkbox,
#play_button,
#nextRound_button{
    margin-bottom: 2%;
}

/*mainPage.html*/

.mainImg{
    max-width: 100%;

}

.header{
    display: flex;
    justify-content: space-between;
}

.playernames,
.pointCounter{
    flex-direction: column;

}



.imageBox{
    width: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    /*height: 100%;*/
}

.areaToClick{
    /*width: 60px;
    height: 90px;
    border: 1px solid yellow;*/
    position: absolute;
}

.mainContent{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.question{
    font-weight: 800;
  background-color: var(--background-color);
  margin: 0 10px 0 10px;
  text-align: center;
    padding:5px 0 5px 0;
    font-size: 24px;
}

.players{
  display: flex;
    flex: 1 1 auto;
}

#player1, #player2{
    width: 49%;
    display: flex;
    flex-direction: column;
    padding:0 0.5% 0 0.5%;
}

#player1{
    background-color: var(--background-color);
}

#player2{
    background-color: var(--background-color);
}

#timerBar{
    position: relative;
    left:0;
    height:15px;
    background: #BFBBB4;
    width:100%;
}

#timeLeft{
    position: absolute;
    background: linear-gradient(to top, #227C9D, var(--win-color));
    height:100%;
    width: 100%;


}
/* descriptionPage.html */
#descriptionPageContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#descriptionPageImgContainer{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-bottom: 10px;
    border-bottom: 1px solid #BFBBB4;
}
#descriptionPageImg{
    height: 45vh;
}

#infoLeft, #infoRight{
    font-style: italic;
    display: inline-block;
}
.description{
    margin: 0 2% 10px 2%;
    padding-top: 10px;
    height: 30vh;
    overflow: auto;
}
/* finalPage.html */
.finalPage{
    display: flex;
    flex-direction: column;
}

#winner{
    margin: 8% auto;
    text-align: center;
}

.buttons{
    display: flex;
}

.button1,
.button2{
    flex-direction: column;
    margin: auto;
}


